/*variables*/
$important: #da0183;
$primary: #ffffff;
$secondary: #dde5e8;
$secondary-insert: #86bfc8;
$secondary-var: #5ea7ba;
$tertiary: #484f57;
$tertiary-var: #818588;
$circle-primary: #98cded;
$circle-secondary: #c2d653;
$circle-mixed: #80adc4;
