/*Layout for market page */
#market {
  margin: auto;
  max-width: 80%;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.row {
  display: flex;
  justify-content: space-between;
  &-margin {
    margin-top: 2rem;
  }
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 30%;
}
